body {
    background-color: #343434;
    color: rgb(181, 182, 196);
    font-family: 'Courier New', Courier, monospace;
}
.switch-group {
    margin-bottom: 40px;
}
#results {
    height: 1.2em;
    background-color: #222222;
    text-align: center;
    color: #fff;
    grid-column-end: span 2;
}
a {
    color: wheat;
}
button {
    color: white;
    font-weight: bold;
    background-color: #008cba;
    margin-bottom: 5px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    width: 8em;
    height: 2.2em;
}
button:hover {
    border: solid 1px white;
}
.questions {
    display: inline-grid;
    grid-template-columns: auto auto;
    row-gap: 15px;
    column-gap: 20px;
    /* justify-items: center; */
    align-items: center;
}
.questions > span {
    color: lightblue;
}
.questions > span > span {
    color: yellow;
}
