body {
    background-color: #343434;
    color: rgb(181, 182, 196);
}
.switch-group {
    margin-bottom: 40px;
}
#results {
    margin-bottom: 10px;
    height: 1.2em;
    width: 31em;
    background-color: #222222;
    text-align: center;
    color: #fff;
}
